<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <style>
      /* 自定义 Gitalk 评论区的样式 */
      #gitalk-container {
        max-width: 1000px; /* 调整这里的值 */
        margin: 0 0 0 400px; /* 使评论区居中 */
      }
    </style>
  </head>

  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <!-- Gitalk 评论 start -->
    <div id="gitalk-container"></div>
    <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
    <script type="text/javascript">
      var gitalk = new Gitalk({
          clientID: 'Ov23li3LMQ1f2TeOsSvp',
          clientSecret: '8fc51603624c27188d6f462b62143ee2fbb35be4',
          repo: 'blog-comments',  // GitHub 仓库名
          owner: 'cicfish',       // GitHub 用户名
          admin: ['cicfish'],     // 该仓库的管理员
          id: location.pathname,  // 使用页面路径作为评论的唯一标识
          distractionFreeMode: false
      });
      gitalk.render('gitalk-container');
    </script>
    <!-- Gitalk end -->

  </body>
</html>
